USE [tesisHEO2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[IDSERVICIO] [int] NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNIC] [varchar](50) NOT NULL,
	[PAGOPENDIENTE] [numeric](1, 0) NOT NULL,
	[INSTALADO] [numeric](1, 0) NOT NULL,
	[IDESTADOC] [int] NOT NULL,
	[DIRECCIONC] [varchar](200) NOT NULL,
	[TELEFONO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOCLIENTE]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOCLIENTE](
	[IDESTADOC] [int] IDENTITY(1,1) NOT NULL,
	[ESTADOCLIENTE] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDESTADOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOP]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOP](
	[IDESTADOP] [int] IDENTITY(1,1) NOT NULL,
	[ESTADOP] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDESTADOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOSERVICIO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOSERVICIO](
	[IDESTADOSERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADOSERVICIO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDESTADOSERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOT]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOT](
	[IDESTADO] [int] IDENTITY(1,1) NOT NULL,
	[ESTADOT] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[IDFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDESTADOP] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[FECHAVENCIMIENTO] [date] NOT NULL,
	[FECHAPAGADO] [date] NULL,
	[SERVICIOP] [varchar](50) NOT NULL,
	[PRECIOTOTAL] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IDROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[IDSERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[SERVICIO] [varchar](50) NOT NULL,
	[SUBIDA] [varchar](200) NOT NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
	[BAJADA] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSERVICIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIOTECNICO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIOTECNICO](
	[IDPROBLEMAT] [int] IDENTITY(1,1) NOT NULL,
	[IDTECNICO] [int] NULL,
	[IDCLIENTE] [int] NOT NULL,
	[IDESTADOSERVICIO] [int] NOT NULL,
	[IDTIPOSERVICIOT] [int] NOT NULL,
	[DESCRIPCIONSERVICIOT] [varchar](200) NULL,
	[FECHAINICIO] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROBLEMAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TECNICO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TECNICO](
	[IDTECNICO] [int] IDENTITY(1,1) NOT NULL,
	[IDESTADO] [int] NOT NULL,
	[NOMBRET] [varchar](50) NOT NULL,
	[APELLIDOT] [varchar](50) NOT NULL,
	[CASOSNUM] [int] NOT NULL,
	[TELEFONOT] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTECNICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSERVICIO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSERVICIO](
	[IDTIPOSERVICIOT] [int] IDENTITY(1,1) NOT NULL,
	[TIPOSERVICIO] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIPOSERVICIOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/26/2023 9:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IDROL] [int] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IDCLIENTE], [IDSERVICIO], [NOMBRE], [APELLIDO], [DNIC], [PAGOPENDIENTE], [INSTALADO], [IDESTADOC], [DIRECCIONC], [TELEFONO]) VALUES (1006, 10, N'Hugo Emanuel', N'Oviedo', N'41525330', CAST(0 AS Numeric(1, 0)), CAST(1 AS Numeric(1, 0)), 3, N'asdda', N'+543584825126')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [IDSERVICIO], [NOMBRE], [APELLIDO], [DNIC], [PAGOPENDIENTE], [INSTALADO], [IDESTADOC], [DIRECCIONC], [TELEFONO]) VALUES (1012, 1, N'Emanuel', N'Oviedo', N'41525330', CAST(0 AS Numeric(1, 0)), CAST(1 AS Numeric(1, 0)), 1001, N'test123', N'3584965258')
INSERT [dbo].[CLIENTE] ([IDCLIENTE], [IDSERVICIO], [NOMBRE], [APELLIDO], [DNIC], [PAGOPENDIENTE], [INSTALADO], [IDESTADOC], [DIRECCIONC], [TELEFONO]) VALUES (1019, 9, N'Juan', N'Sanchez', N'40313223', CAST(0 AS Numeric(1, 0)), CAST(0 AS Numeric(1, 0)), 1001, N'Malvinas 25', N'385481059')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOCLIENTE] ON 

INSERT [dbo].[ESTADOCLIENTE] ([IDESTADOC], [ESTADOCLIENTE]) VALUES (1, N'Activo')
INSERT [dbo].[ESTADOCLIENTE] ([IDESTADOC], [ESTADOCLIENTE]) VALUES (2, N'Suspendido')
INSERT [dbo].[ESTADOCLIENTE] ([IDESTADOC], [ESTADOCLIENTE]) VALUES (3, N'Pendiente')
SET IDENTITY_INSERT [dbo].[ESTADOCLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOP] ON 

INSERT [dbo].[ESTADOP] ([IDESTADOP], [ESTADOP]) VALUES (1, N'Pendiente')
INSERT [dbo].[ESTADOP] ([IDESTADOP], [ESTADOP]) VALUES (2, N'Pagado')
INSERT [dbo].[ESTADOP] ([IDESTADOP], [ESTADOP]) VALUES (3, N'Vencido')
SET IDENTITY_INSERT [dbo].[ESTADOP] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOSERVICIO] ON 

INSERT [dbo].[ESTADOSERVICIO] ([IDESTADOSERVICIO], [ESTADOSERVICIO]) VALUES (1, N'Pendiente')
INSERT [dbo].[ESTADOSERVICIO] ([IDESTADOSERVICIO], [ESTADOSERVICIO]) VALUES (2, N'Solucionado')
INSERT [dbo].[ESTADOSERVICIO] ([IDESTADOSERVICIO], [ESTADOSERVICIO]) VALUES (3, N'Eliminado')
SET IDENTITY_INSERT [dbo].[ESTADOSERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOT] ON 

INSERT [dbo].[ESTADOT] ([IDESTADO], [ESTADOT]) VALUES (1, N'Disponible')
INSERT [dbo].[ESTADOT] ([IDESTADO], [ESTADOT]) VALUES (2, N'Ocupado')
INSERT [dbo].[ESTADOT] ([IDESTADO], [ESTADOT]) VALUES (3, N'Eliminado')
SET IDENTITY_INSERT [dbo].[ESTADOT] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGO] ON 

INSERT [dbo].[PAGO] ([IDFACTURA], [IDCLIENTE], [IDESTADOP], [FECHA], [FECHAVENCIMIENTO], [FECHAPAGADO], [SERVICIOP], [PRECIOTOTAL]) VALUES (1012, 1006, 2, CAST(N'2023-06-06' AS Date), CAST(N'2024-04-06' AS Date), CAST(N'2023-10-26' AS Date), N'Plan Estandar', CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[PAGO] ([IDFACTURA], [IDCLIENTE], [IDESTADOP], [FECHA], [FECHAVENCIMIENTO], [FECHAPAGADO], [SERVICIOP], [PRECIOTOTAL]) VALUES (1013, 1006, 2, CAST(N'2023-06-06' AS Date), CAST(N'2024-04-06' AS Date), CAST(N'2023-10-26' AS Date), N'Plan Premium', CAST(2000.00 AS Decimal(10, 2)))
INSERT [dbo].[PAGO] ([IDFACTURA], [IDCLIENTE], [IDESTADOP], [FECHA], [FECHAVENCIMIENTO], [FECHAPAGADO], [SERVICIOP], [PRECIOTOTAL]) VALUES (1014, 1006, 2, CAST(N'2023-06-06' AS Date), CAST(N'2024-04-06' AS Date), CAST(N'2023-10-26' AS Date), N'Plan Normal', CAST(5000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PAGO] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IDROL], [ROL]) VALUES (1, N'Admin')
INSERT [dbo].[ROL] ([IDROL], [ROL]) VALUES (2, N'Cobranza')
INSERT [dbo].[ROL] ([IDROL], [ROL]) VALUES (3, N'Recepcion')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICIO] ON 

INSERT [dbo].[SERVICIO] ([IDSERVICIO], [SERVICIO], [SUBIDA], [PRECIO], [BAJADA]) VALUES (1, N'Sin Asignar', N'0', CAST(0.00 AS Decimal(10, 2)), N'25 megas')
INSERT [dbo].[SERVICIO] ([IDSERVICIO], [SERVICIO], [SUBIDA], [PRECIO], [BAJADA]) VALUES (9, N'Plan Normal', N'20', CAST(3444.00 AS Decimal(10, 2)), N'5mb')
INSERT [dbo].[SERVICIO] ([IDSERVICIO], [SERVICIO], [SUBIDA], [PRECIO], [BAJADA]) VALUES (10, N'Plan Estandar', N'3MB', CAST(3500.00 AS Decimal(10, 2)), N'10MB')
SET IDENTITY_INSERT [dbo].[SERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICIOTECNICO] ON 

INSERT [dbo].[SERVICIOTECNICO] ([IDPROBLEMAT], [IDTECNICO], [IDCLIENTE], [IDESTADOSERVICIO], [IDTIPOSERVICIOT], [DESCRIPCIONSERVICIOT], [FECHAINICIO]) VALUES (40, 1002, 1019, 3, 2, N'Instalacion de servicio', CAST(N'2023-09-28' AS Date))
INSERT [dbo].[SERVICIOTECNICO] ([IDPROBLEMAT], [IDTECNICO], [IDCLIENTE], [IDESTADOSERVICIO], [IDTIPOSERVICIOT], [DESCRIPCIONSERVICIOT], [FECHAINICIO]) VALUES (41, 0, 1019, 3, 2, N'Instalacion de servicio', CAST(N'2023-09-29' AS Date))
INSERT [dbo].[SERVICIOTECNICO] ([IDPROBLEMAT], [IDTECNICO], [IDCLIENTE], [IDESTADOSERVICIO], [IDTIPOSERVICIOT], [DESCRIPCIONSERVICIOT], [FECHAINICIO]) VALUES (42, 0, 1019, 3, 2, N'Instalacion de servicio', CAST(N'2023-09-29' AS Date))
SET IDENTITY_INSERT [dbo].[SERVICIOTECNICO] OFF
GO
SET IDENTITY_INSERT [dbo].[TECNICO] ON 

INSERT [dbo].[TECNICO] ([IDTECNICO], [IDESTADO], [NOMBRET], [APELLIDOT], [CASOSNUM], [TELEFONOT]) VALUES (0, 1, N'Sin', N'Asignar', 0, N'0')
INSERT [dbo].[TECNICO] ([IDTECNICO], [IDESTADO], [NOMBRET], [APELLIDOT], [CASOSNUM], [TELEFONOT]) VALUES (3, 3, N'Emanuel', N'Oviedo', 0, N'3584825126')
INSERT [dbo].[TECNICO] ([IDTECNICO], [IDESTADO], [NOMBRET], [APELLIDOT], [CASOSNUM], [TELEFONOT]) VALUES (1002, 3, N'Francisco', N'Sanchez', 0, N'3584825133')
SET IDENTITY_INSERT [dbo].[TECNICO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOSERVICIO] ON 

INSERT [dbo].[TIPOSERVICIO] ([IDTIPOSERVICIOT], [TIPOSERVICIO]) VALUES (1, N'Problema')
INSERT [dbo].[TIPOSERVICIO] ([IDTIPOSERVICIOT], [TIPOSERVICIO]) VALUES (2, N'Instalacion')
SET IDENTITY_INSERT [dbo].[TIPOSERVICIO] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IDUSUARIO], [IDROL], [USUARIO], [PASSWORD]) VALUES (1, 1, N'Emanuel1', N'07a12d9cd8b55467a2357e2aa45f5873')
INSERT [dbo].[USUARIO] ([IDUSUARIO], [IDROL], [USUARIO], [PASSWORD]) VALUES (2, 2, N'Emanuel2', N'07a12d9cd8b55467a2357e2aa45f5873')
INSERT [dbo].[USUARIO] ([IDUSUARIO], [IDROL], [USUARIO], [PASSWORD]) VALUES (3, 3, N'emanuel3', N'07a12d9cd8b55467a2357e2aa45f5873')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([IDESTADOC])
REFERENCES [dbo].[ESTADOCLIENTE] ([IDESTADOC])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([IDSERVICIO])
REFERENCES [dbo].[SERVICIO] ([IDSERVICIO])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([IDESTADOP])
REFERENCES [dbo].[ESTADOP] ([IDESTADOP])
GO
ALTER TABLE [dbo].[SERVICIOTECNICO]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[CLIENTE] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[SERVICIOTECNICO]  WITH CHECK ADD FOREIGN KEY([IDESTADOSERVICIO])
REFERENCES [dbo].[ESTADOSERVICIO] ([IDESTADOSERVICIO])
GO
ALTER TABLE [dbo].[SERVICIOTECNICO]  WITH CHECK ADD FOREIGN KEY([IDTECNICO])
REFERENCES [dbo].[TECNICO] ([IDTECNICO])
GO
ALTER TABLE [dbo].[SERVICIOTECNICO]  WITH CHECK ADD FOREIGN KEY([IDTIPOSERVICIOT])
REFERENCES [dbo].[TIPOSERVICIO] ([IDTIPOSERVICIOT])
GO
ALTER TABLE [dbo].[TECNICO]  WITH CHECK ADD FOREIGN KEY([IDESTADO])
REFERENCES [dbo].[ESTADOT] ([IDESTADO])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IDROL])
REFERENCES [dbo].[ROL] ([IDROL])
GO
